body {
    font-family: "Lato", sans-serif;
}

titulo {
  padding-left: 200px;
}

lista {
  width: 30%;
  height: 70%;
  display: inline-block;
  vertical-align: top;
}

formulario {
  width: 65%;
  height: 70%;
  display: inline-block;
}

.etiqueta {
  padding-right: 100px;
}

.boton {
  padding-left: 30.25%;
  width: 65%;
  text-align: center;
  bottom: 0px;
}
